/*global style*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%
}

/*navbar*/
.navbar{
	background: red;
	min-height: 10vh;
	font-size: 3rem;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin:auto;
	justify-content: space-around;
	align-items: center;
	border-radius: 25px;
	margin-top: 2rem;
}


.navbar a{
	width: 1rem;
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 0rem 8rem;
}
.navbar ul{
	padding: 1rem;
	margin: 1rem;
}
.navbar li{
	display: inline-block;
	list-style: none;
}
.navbar img{
	position: absolute;
	top:.25%;
	left: 46%;
	background: white;
	height: 120px;
	border-radius: 50%;
	padding: 0rem;
}

/*website background*/
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image:linear-gradient(0deg, transparent 50%, white 50%),
                 linear-gradient(90deg, black 50%, white 50%);
background-size:50px 50px,50px 50px;
background-position:0 0, 0 25px;
}

/*hero section*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: 2.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.slideshow-container img{
	height: 75vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: crimson;
  font-size: 12rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}

#open-slide{
	color: white;
	left: 25%;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*about section*/

p{
	font-size: 5.2rem;
	color: black;
	text-align: center;
	padding: 2rem;
}

.about{
	display: flex;
	align-items: center;
	background: red;
	border-radius: 25px;
	width: 90%;
	margin: auto;
}

.about img{
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}



/*menu tiles section*/

.menu-tiles{
	display: flex;
	margin: auto;
	padding: 3rem;
	flex-wrap: wrap;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card img{
  width: 250px;
  height: 250px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h4{
	color: red;
	font-size: 3.6rem;
}

.flip-card-back p{
	color: white;
	font-size: 2.4rem;
}

.menu-tiles h1{
	background: red;
	width: 94%;
	margin: auto;
	border-radius: 25px;
	font-size: 6.8rem;
	color: black;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 4rem;
}

.menu-rows{
	display: flex;
	width: 90%;
	margin: auto;
}


/*event page*/

.row{
	display: flex;
	background: red;
	width: 90%;
	margin:auto;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-top: 35px;
}

.column{
	flex: 50%;
}

.event{
	display: flex;
	flex-direction: row;
}

.event img{
	width: 250px;
	height: 250px;
	padding: 1rem;
}

.event-text{
	flex-direction: column;
}


.event-text p{
	font-size: 2rem;
	}

.event-text h3{
	font-size: 6rem;
	}

.contact{
	display: flex;
	background: red;
	width: 90%;
	margin:auto;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-top: 35px;
	flex-direction: column;
	text-align: center;	
}


.contact p{
	font-size: 2rem;
	}

.contact h1{
	font-size: 5rem;
	}

.contact img{
		width: 25px;
		height: 25px;
	}